<h1>{{title}}</h1>
<div class="text-center">
  <form action="/nft/create" method="GET">
    <button class="btn btn-success">Add new NFT</button>
  </form>
</div>


<div class="container mt-5">
  <div class="row">
    {{#each nfts}}
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-5">
      <div class="card  bg-light card h-100 v-100">
        <div class="card-body">
          <h5 class="cardTitle text-center mb-3">{{name}}</h5>
          <img class="card-img-top mb-3" src="{{image}}" alt="NFT" />
          <p>Price: {{price}} SeaShells</p>
          <p>Creator: {{creator}}</p>
          <p>Owner: {{owner}}</p>
          <div class="d-flex justify-content-around mb-2">
            {{#if ../session.user.isAdmin}}
            <form action="/nft/nfts/{{_id}}/delete" method="POST">
              <button class="btn btn-primary">Delete</button>
            </form>
            <a href="/nft/nfts/{{_id}}/edit" class="btn btn-primary"> Edit </a>
            {{else if ../session.user}}
            <form action="/nft/nfts/{{_id}}/buy" method="POST">
              <button class="btn btn-primary">BUY</button>
            </form>
            {{else}}
            <form action="/nft/nfts/{{_id}}/buy" method="POST">
              <button class="btn btn-primary" disabled>BUY</button>
            </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>