<h2>NFTs</h2>

<a class="nav-link" href="/nft/create">Add new NFT</a>

</div><div class="col-md-4">
  <div class="card">
    {{#each nfts}}
      <div>
        <h3>{{name}}</h3>
        <img class="card-img-top" src={{image}} alt="NFT" />
        <div class="card-body"></div>
        <p>Price: {{price}} SeaShells</p>
        <p>Creator: {{creator}}</p>
        <p>Owner: {{owner}}</p>
        <a href="/nft/nfts/{{_id}}/edit">Edit</a>
        <form action="/nft/nfts/{{_id}}/delete" 
        method="POST">
          <button>Delete</button>
        </form>
      </div>
    {{/each}}
  </div>
</div>